* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--dark-1: #000000;
	--dark-2: #1f1f1f;
	--dark-3: #292929;
	--dark-4: #333333;
	--dark-5: #3d3d3d;
	--white-1: #cecece;
	--white-2: #acacac;
	--white-3: #8d8d8d;
	--white-4: #555555;
	--accent: #1167b1;
	--accent-hover: #125690;
	--accent-light: #6aa4d6;
	--remove: #e64f3b;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--dark-2);
	color: #cecece;
}

/* Header */

header {
	width: 100%;
	height: 50px;
	padding: 0.6rem 1rem;
	z-index: 50;
	position: absolute;
	background-color: var(--dark-2);
	box-shadow: 0 0 12px 0 var(--dark-1);
	display: flex;
	overflow: hidden;
}

/* Main content */

main {
	display: flex;
	padding-top: 50px;
	height: 100%;
}

.side-panel {
	width: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-3);
}

.side-panel .gutter {
	cursor: row-resize;
}

/* Characteristics list */

.top-panel {
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 -4px 8px -4px var(--dark-1);
}

.bottom-panel {
	display: flex;
	flex-direction: column;
}

.chars-filter {
	margin: 0.7rem 1rem;
	padding: 0.2rem 0.5rem;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	color: var(--white-1);
	background-color: var(--dark-4);
	outline: none;
}

.chars-filter:focus {
	background-color: var(--dark-5);
}

.chars-list {
	padding: 0 1.3rem 0.6rem;
	overflow-y: scroll;
}

.char {
	font-size: 18px;
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	margin: 0.3rem 0;
	border-radius: 5px;
	user-select: none;
}

.char:hover {
	background-color: #20202083;
}

.char.selected,
.char.hidden {
	display: none;
}

.char .char-head {
	font-size: 18px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.char span {
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.char .remove {
	display: none;
}

.char:hover {
	background-color: #20202083;
}

.char:hover .remove,
.char:focus .remove {
	display: block;
	fill: var(--white-2);
}

.char .remove:hover {
	fill: var(--remove);
}

.char .remove,
.char .remove svg {
	width: 24px;
	height: 24px;
}

.char .char-body {
	display: none;
	padding: 0.5rem;
	padding-left: 1.5rem;
}

.char.expand .char-body {
	display: block;
}

/* Animal list */

.animals-list {
	flex: 3;
	padding: 1rem 1.5rem;
	overflow-y: scroll;
	color: var(--white-1);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.animal {
	margin: 0.5rem 0.5rem;
	padding: 1rem 1.5rem;
	background-color: var(--dark-3);
	border-radius: 5px;
}

.animal h3 {
	color: var(--white-3);
	font-weight: 400;
	font-size: 14px;
}

.animal h4 {
	color: var(--white-2);
	padding-top: 1rem;
	font-size: 15px;
	font-weight: 400;
}

.animal p {
	margin-top: 0.6rem;
	padding-top: 0.6rem;
	border-top: 1px solid var(--white-2);
	font-size: 14px;
	text-align: justify;
}

.animal h4 .selected {
	color: var(--accent-light);
}

.animal-score {
	float: right;
	/* border: 3.5px solid currentColor;
	border-radius: 50%; */
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	font-weight: 700;
}

.space {
	height: 0.5rem;
}

/* Modal */
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding: 1.2rem 1.6rem;
	background-color: var(--dark-2);
	border-radius: 6px;
	transform: translate(-50%, -50%);
}

.modal:not(.visible) {
	display: none;
}

.modal.visible ~ header,
.modal.visible ~ main {
	pointer-events: none;
	filter: blur(5px);
	user-select: none;
}

.modal.visible ~ .overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ffffff10;
	z-index: 80;
}

.modal input {
	margin-bottom: 0.8rem;
	padding: 0.5em 1em;
	font-size: 16px;
	border: 1px solid transparent;
	border-radius: 5px;
	color: var(--white-1);
	background-color: var(--dark-3);
	outline: none;
}

.modal input:focus {
	background-color: var(--dark-4);
}

.modal button {
	padding: 0.5rem 1rem;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: var(--white-1);
	background-color: var(--accent);
	outline: none;
	cursor: pointer;
}

.modal button:hover {
	background-color: var(--accent-hover);
}

.modal input.modal-error {
	border: 1px solid var(--remove);
}

.modal span.modal-error {
	color: var(--remove);
	margin-bottom: 0.8rem;
	align-self: center;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--white-4);
	border-radius: 20px;
}

@media screen and (max-width: 960px) {
	.animals-list {
		grid-template-columns: 1fr;
	}
}

.mobile-toggle {
	display: none;
}

@media screen and (max-width: 560px) {
	.mobile-toggle {
		margin-left: 0.5rem;
		display: block;
		fill: var(--white-1);
		transition: transform 0.2s;
	}

	.mobile-toggle svg {
		width: 32px;
		height: 32px;
	}

	.chars-filter,
	.selected-list,
	.chars-list,
	.side-panel,
	.animals-list {
		width: 100%;
	}

	body[data-panel="chars"] .animals-list {
		display: none;
	}
	body[data-panel="animals"] .side-panel {
		display: none;
	}

	body[data-panel="animals"] .chars-filter {
		visibility: hidden;
	}

	body[data-panel="animals"] .mobile-toggle {
		transform: rotate(180deg);
	}
}
